on: push

jobs:
  install-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Knope
        uses: knope-dev/action@replace-set-output
      - name: Test Knope
        run: knope --help
      - name: Verify no artifacts in path
        run: git status
  install-specific-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Knope
        uses: knope-dev/action@replace-set-output
        with:
          version: 0.4.3
      - name: Test Knope
        run: knope --help
      - name: Verify no artifacts in path
        run: git status