on: push

jobs:
  install-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Knope
        uses: ./
      - name: Test Knope
        run: knope --help
      - name: Verify no artifacts in path
        run: git status
  install-specific-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Knope
        uses: ./
        with:
          version: 0.10.0
      - name: Test Knope
        run: knope --help
      - name: Verify no artifacts in path
        run: git status
  install-monorepo-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Knope
        uses: ./
        with:
          version: 0.16.2
      - name: Test Knope
        run: knope --help
      - name: Verify no artifacts in path
        run: git status
  pass-a-token:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Knope With Token
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test Knope
        run: knope --help
